meta(charset= 'UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='description', content=description)
meta(property='og:title', content=title)
meta(property='og:site_name', content=title)
meta(property='og:type', content='website')
meta(property='og:url', content='https://www.canner.io')
meta(property='og:image:type', content='image/jpg')
meta(property='og:image:width', content='400')
meta(property='og:image:height', content='300')
meta(property='og:description', content=description)
meta(property='og:image', content='https://static.canner.io/images/logo/fb.jpg')
meta(property='fb:app_id', content='1255014091190934')
link(rel='icon', href='https://static.canner.io/images/logo/logo3232.ico', size='32x32')
link(rel='icon', href=favicon, size='16x16')
link(rel='stylesheet', type='text/css', href="/antd.css")
link(rel="stylesheet", href="//cdn.quilljs.com/1.2.6/quill.snow.css")
