
extends ./layout.pug

block head
  script.
    window.LOCALE = '#{locale}';
    window.graphqlEndpoint = '#{graphqlEndpoint}';
    window.username = "#{username}";
    window.thumbnail = "#{thumbnail}";
    window.refreshTokenExp = #{refreshTokenExp};
block main
  div(id='root')
  script(src= `${staticPath}index.js`)
block footerScript
