doctype html
html
  head
    title #{title}
    include ./utils/head.pug
    script.
      window.APP_PREFIX = "#{staticPath}";
      window.username = "#{username}";
      window.thumbnail = "#{thumbnail}";
      window.refreshTokenExp = #{refreshTokenExp};
      window.isUserAdmin = #{isUserAdmin};
      window.portal = !{portal};
  body
    script(src=`${staticPath}js/react.production.min.js`)
    script(src=`${staticPath}js/react-dom.production.min.js`)
    script(src=`${staticPath}js/moment-with-locales.min.js`)
    script(src=`${staticPath}js/lodash.min.js`)
    script(src=`${staticPath}js/antd.min.v3.10.10.js`)
    script(src=`${staticPath}js/styled-components.min.js`)
    script(src=`${staticPath}js/moment-timezone.min.js`)
    script(src=`${staticPath}js/polyfill.js`)
    div(id='root')
      script(src= `${staticPath}landing.js`)
